.hero{
    height: 400px;
    background-image: url("../public/hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}


@media screen and (min-width:600px){
    .hero{
        height: 80vh;
        background-position: bottom 10px right;
    }
}

.hero_center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.heading{
    text-shadow: 2px 2px #000000a6;
    padding: 1rem;
}

.register_btn{
    border: 0;
    outline: 0;
    padding: 1rem;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}